


body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Itim', cursive;
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
}

/* nav */
.primaryHeader {
 display: flex;
 width: 100%;
 height: fit-content;
 flex-direction: row;
 align-items: center;
 justify-content: space-around;
 border-bottom: 1px solid rgb(212, 211, 211);
 
}


.logo {
  color: var(--text-black);
  font-weight: 00;
}
.Dropdownmenu {
  display: none;
}
.FaBars {
  display: none;
}


/* home */

ul, li, link {
  display: flex;
  flex-direction: row;
  gap: 50px;
  font-size: 1em;
  list-style-type: none;
cursor: pointer;
}



.Home {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  gap: 20em;

}

.costaimg {
  border-radius: 50%;
  opacity: 1.4;
  max-width: 500px;
}

.aboutme {
  margin: auto;
  position: relative;
  width: 200px;
  height: 200px;
  bottom: 50%;
  right: 20%;
 font-size: 1.7em;
}


/* count*/
.details-container span {
  font: 1em sans-serif;
  color: green;
  font-weight: 900;
}

/* adventures */

.adventurertitle {
  position: relative;
  margin: auto;
  color: var(--text-black);
  font-weight: 500;
  padding-top: 10%;
  padding-bottom: 10%;

}

.adventuretitle {
  display: flex;
  cursor: pointer;
}

.adventurertitle:hover {
  font-size: 1.7em;
}

.Adventureplaces {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 10px;
  background-color: #fff;

}

.adventures {
  position: relative;
  text-align: center;
  max-width: max-content;
  justify-self: center;
}

.adventureimgcontrl {
  position: relative;
  justify-self: center;
  border-radius: 50%;
  opacity: 1.4;
  height: 200px;
  width: 200px;
  cursor: pointer;
}

.details-container {

  display: flex;
  justify-content: space-around;
  padding-top: 5%;
  text-align: center;
}


/* footer */

.Footer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  justify-content: space-around;

}

.fnav p a {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.fnav p a:hover {
  text-decoration: underline;
}

.footer-copyright {
  padding-top: 5%;
  text-align: center;
}

.Socialmediaheader {
  text-align: center;
}

.fsocialslink {
  display: flex;
  flex-direction: row;

}


/* adventures */

.adventuresheader {
  position: relative;
  top: 80px;
  width: 800px;
  height: 800px;
  margin: 0 auto;
  border-style: solid;
  margin-bottom: 100px;
}

@media screen and (max-width: 800px)  {
  body {
      margin: 0 auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: 'Itim', cursive;
    }
  
    /* nav */
    .navLinks {
      display: none;
    }

    .Dropdownmenu {
      display: none;
      background-color: aliceblue;
      position: absolute;
   top: 1;
  right: 0;
  z-index: 1;
  cursor: pointer;
  transition: 3s;
    }

.FaBars {
  display:block;
  font-size: 2em;
  padding-right: 10px;
  cursor: pointer;
}
  
    .Headertitle {
      margin: 0 auto
    }
  
    .headerticontrol {
      color: var(--text-black);
      font-weight: 500;
  
    }
  
  
  
    /* home */
  
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      font-size: 1em;
      list-style-type: none;
    }
  
    .fa-xl {
      color: green;
    }
  
    .fa-xl:hover {
      cursor: pointer;
  
    }
  
  
    .Home {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .costaimg {
      margin: 0 auto;
      max-width: 300px;
      max-height: 600px;
    }

  .aboutme {
    position: relative;
  margin: 0 auto;
    max-width: 300px;
    max-height: 600px;
      top: inherit;
      left: 40%;
      transform: translate(-50%, -50%);
      font-size: 1.7em;
      padding-bottom: 20px;
  }
  
    /* count*/
    .details-container span {
      font: 1em sans-serif;
      color: green;
      font-weight: 900;
    }
  
    /* adventures */
  
    .adventurertitle {
      position: relative;
      margin: auto;
      color: var(--text-black);
      font-weight: 500;
      padding-top: 10%;
      padding-bottom: 10%;
  
    }
  
    .adventuretitle {
      display: flex;
      cursor: pointer;
    }
  
    .adventurertitle:hover {
      font-size: 1.7em;
    }
  
    .Adventureplaces {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      row-gap: 10px;
      background-color: #fff;
  
    }
  
    .adventures {
      position: relative;
      text-align: center;
      max-width: max-content;
      justify-self: center;
    }
  
    .adventureimgcontrl {
      position: relative;
      justify-self: center;
      
      max-height: 200px;
      max-width: 200px;
    
    }
  
    .details-container {
  
      display: flex;
      justify-content: space-around;
      padding-top: 5%;
      text-align: center;
      
    }
  
  
    /* footer */
  
    .Footer {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
  
    .fnav p a {
      text-decoration: inherit;
      color: inherit;
      cursor: auto;
    }
  
    .fnav p a:hover {
      text-decoration: underline;
    }
  
    .footer-copyright {
      padding-top: 5%;
      text-align: center;
    }
  
    .Socialmediaheader {
      text-align: center;

    }

    .fsocials {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  
    .fsocialslink {
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
 align-items: center;
 max-width: 300px;
  
    }

    .fsocialslink li {
      position: relative;
      right: 20px;
    }
  
  
    /* adventures */
  
    .adventuresheader {
   
      max-width: 600px;
      max-height: 600px;
      margin: 0 auto;
      
    }
  
}