body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Itim', cursive;
}

/* nav */
.primaryHeader {
 position: fixed;
 width: 100%;
 background-color:#f8f9fa;
 text-align: center;

}
.Headertitle {
  margin: 0 auto
}

.headerticontrol {
  color: var(--text-black);
  font-weight: 500;

}
.nav {
  position: fixed;
    left: 98%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
