body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Itim', cursive;
}

/* nav */
.primaryHeader {
 position: fixed;
 width: 100%;
 background-color:#f8f9fa;
 text-align: center;

}
.Headertitle {
  margin: 0 auto
}

.headerticontrol {
  color: var(--text-black);
  font-weight: 500;

}
.nav {
  z-index: 100;
  display: inline-block;
  position: fixed;
    left: 96%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 100;
}

/* home */

ul  {
  display: flex;
  flex-direction:  column;
  gap:10px;
  font-size: 1em;
  list-style-type: none;
}
 .fa-xl:hover {
  font-size: 3em;
  cursor: pointer;
 }
.Home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20em;
  
}
 .costaimg {
  border-radius: 50%;
  opacity: 1.4;
  width: 500px;
 }

 .aboutme {
  position: absolute;
    top: 30%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 1.7em;
 }

/* adventure */

.adventurertitle {
position: relative;
margin: auto;
color: var(--text-black);
font-weight: 500;
padding-top: 10%;
padding-bottom: 10%;

}
.adventuretitle {
  display: flex;
  cursor: pointer;
}

.adventurertitle:hover {
  font-size: 2.3em;
}
.Adventureplaces {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 15px;

}
.adventures {
position: relative;
text-align: center;
max-width: max-content;
justify-self: center;
}

.adventureimgcontrl{
  position: relative;
  justify-self: center;
border-radius: 50%;
  opacity: 1.4;
  height: 200px;
  width: 200px;
  cursor: pointer;
}

.destinations {
    position: absolute;
    right: 10%;
    font-size: 3em;
}
